[submodule "managed_nodes/ComfyUI-SAM3"]
	path = managed_nodes/ComfyUI-SAM3
	url = https://github.com/PozzettiAndrea/ComfyUI-SAM3.git
[submodule "managed_nodes/ComfyUI-KJNodes"]
	path = managed_nodes/ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes.git
[submodule "managed_nodes/rgthree-comfy"]
	path = managed_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy.git
[submodule "managed_nodes/ComfyUI-Crystools"]
	path = managed_nodes/ComfyUI-Crystools
	url = https://github.com/crystian/ComfyUI-Crystools.git
[submodule "managed_nodes/ComfyUI-Easy-Use"]
	path = managed_nodes/ComfyUI-Easy-Use
	url = https://github.com/yolain/ComfyUI-Easy-Use.git
[submodule "managed_nodes/cg-use-everywhere"]
	path = managed_nodes/cg-use-everywhere
	url = https://github.com/chrisgoringe/cg-use-everywhere.git
[submodule "managed_nodes/ComfyUI-SUPIR"]
	path = managed_nodes/ComfyUI-SUPIR
	url = https://github.com/kijai/ComfyUI-SUPIR.git
[submodule "managed_nodes/ComfyUI-MultiGPU"]
	path = managed_nodes/ComfyUI-MultiGPU
	url = https://github.com/pollockjj/ComfyUI-MultiGPU.git
[submodule "managed_nodes/ComfyUI-LayerStyle"]
	path = managed_nodes/ComfyUI-LayerStyle
	url = https://github.com/chflame163/ComfyUI_LayerStyle.git
[submodule "managed_nodes/ComfyUI-LGTools"]
	path = managed_nodes/ComfyUI-LGTools
	url = https://github.com/LAOGOU-666/Comfyui_LG_Tools.git
[submodule "managed_nodes/ComfyUI-LayerStyle-Advance"]
	path = managed_nodes/ComfyUI-LayerStyle-Advance
	url = https://github.com/chflame163/ComfyUI_LayerStyle_Advance.git
[submodule "managed_nodes/ComfyUI-GGUF"]
	path = managed_nodes/ComfyUI-GGUF
	url = https://github.com/city96/ComfyUI-GGUF.git
[submodule "managed_nodes/ComfyUI-AssetManager"]
	path = managed_nodes/ComfyUI-AssetManager
	url = https://github.com/c0dezer019/AssetManager.git
[submodule "managed_nodes/ComfyUI-VideoHelperSuite"]
	path = managed_nodes/ComfyUI-VideoHelperSuite
	url = https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite.git
[submodule "managed_nodes/ComfyUI-Align"]
	path = managed_nodes/ComfyUI-Align
	url = https://github.com/Moooonet/ComfyUI-Align.git
[submodule "managed_nodes/ComfyUI-Inspector"]
	path = managed_nodes/ComfyUI-Inspector
	url = https://github.com/danielwolber-wood/ComfyUI-Inspector.git
